Package: time-warden
Version: _PKG_VERSION_
Depends: timewarrior
Section: misc
Priority: optional
Architecture: all
Maintainer: Nikolay Klimov <klimov.ns@mail.ru>
Description: Mou Nidoto Modorenai Anokoroni
