[Unit]
Description=Time Warden - telegram api for timew
After=network-online.target

[Service]
ExecStart=/usr/bin/time_warden -token-file=/etc/time_warden_token -categories=/etc/time_warden_category.yml
Type=simple
Restart=always
User=%i

[Install]
WantedBy=default.target
